example_flow.json
[
    {
        "id": "b87ec6114f195499",
        "type": "tab",
        "label": "Flow 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0396b0b4dd68173",
        "type": "group",
        "z": "b87ec6114f195499",
        "name": "while",
        "style": {
            "label": true
        },
        "nodes": [
            "cd1c663c4078a5f9",
            "362e1f4b5b2e056c",
            "bf3143f377d6e21c",
            "c1b019aa68084bf1",
            "ab7fe5abb5d039ec",
            "8655b245ba8a3487",
            "546438847f4feb4a",
            "55811a881cb0dd89"
        ],
        "x": 574,
        "y": 293,
        "w": 1132,
        "h": 368
    },
    {
        "id": "8089717f6b42b5be",
        "type": "group",
        "z": "b87ec6114f195499",
        "name": "Simulation",
        "style": {
            "label": true
        },
        "nodes": [
            "0b7f38214316cc56",
            "77974c78cf59d567",
            "1fc613c5549f763a",
            "bafa0eaf5660ed38",
            "2324e0a911aad3f6",
            "bea1c3eadfa007e8"
        ],
        "x": 674,
        "y": 79,
        "w": 912,
        "h": 142
    },
    {
        "id": "546438847f4feb4a",
        "type": "group",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "if-end_if",
        "style": {
            "label": true
        },
        "nodes": [
            "ec3be3254948cfc0",
            "f5df02ce5c0e814b",
            "7182a062b532365b",
            "40fa81cbc19c08a9",
            "6baa6288c242eafe",
            "39b877b18f890cd3",
            "b79da51c55c6df0f",
            "bffdbe551dc26046",
            "6f564a33d50b9ce1"
        ],
        "x": 874,
        "y": 319,
        "w": 612,
        "h": 282
    },
    {
        "id": "0c9426b09f7956e9",
        "type": "inject",
        "z": "b87ec6114f195499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "b51d963cb6653b24"
            ]
        ]
    },
    {
        "id": "40fa81cbc19c08a9",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "branch",
        "func": "//op1=global.I0;relop=gte;op2=5; \n\ncond=(global.get(\"I0\")>=5);\nif(cond) return [msg,null];\nelse return [null,msg];\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 460,
        "wires": [
            [
                "6baa6288c242eafe"
            ],
            [
                "7182a062b532365b"
            ]
        ]
    },
    {
        "id": "ec3be3254948cfc0",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "end_if",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "362e1f4b5b2e056c"
            ]
        ]
    },
    {
        "id": "93b3dac032fcac99",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "init",
        "func": "//init=global.temp;size=8;\n\nglobal.set(\"temp\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "bf89bfee10f01ff9"
            ]
        ]
    },
    {
        "id": "6baa6288c242eafe",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "eval",
        "func": "//store=global.temp;op1=global.I0;operand=\"+\";op2=1;\n\nop2=1;\nop1=global.get(\"I0\")\nstore=op1+op2;\nglobal.set('temp',store);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "39b877b18f890cd3"
            ]
        ]
    },
    {
        "id": "bd25dbc780e506f6",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "end",
        "func": "\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 460,
        "wires": []
    },
    {
        "id": "7182a062b532365b",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "eval",
        "func": "//store=global.temp;op1=global.I0;operand=\"-\";op2=1;\n\nop2=1;\nop1=global.get(\"I0\")\nstore=op1-op2;\nglobal.set('temp',store);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "f5df02ce5c0e814b"
            ]
        ]
    },
    {
        "id": "39b877b18f890cd3",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "output",
        "func": "//write=global.O1;read=global.temp\nstore=global.get('temp');\nglobal.set(\"O1\",store);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "ec3be3254948cfc0"
            ]
        ]
    },
    {
        "id": "b51d963cb6653b24",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "macros",
        "func": "//init=global.I0;size=8;val=p0\n\nglobal.set(\"I0\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "2ae900740309351b"
            ]
        ]
    },
    {
        "id": "f5df02ce5c0e814b",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "output",
        "func": "//write=global.O1;read=global.temp\nstore=global.get('temp');\nglobal.set(\"O1\",store);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "ec3be3254948cfc0"
            ]
        ]
    },
    {
        "id": "2ae900740309351b",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "macros",
        "func": "//init=global.O1;size=8;val=p1\n\nglobal.set(\"O1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "22877361595bb1ef"
            ]
        ]
    },
    {
        "id": "cd1c663c4078a5f9",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "loop_while",
        "func": "//op1=global.condition;relop=eq;op2=true; \n\ncond=global.get(\"condition\");\nif(cond){\n    msg.break=false;\n    return [msg,null];\n}\nelse{\n    msg.break=true;\n    return[null,msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "40fa81cbc19c08a9"
            ],
            [
                "ab7fe5abb5d039ec"
            ]
        ]
    },
    {
        "id": "362e1f4b5b2e056c",
        "type": "function",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "endloop_while",
        "func": "//\n//\n\nif(msg.break){\n    msg.break=false;\n    return [msg,null];\n}\nelse{\n    return[null,msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 460,
        "wires": [
            [
                "bd25dbc780e506f6"
            ],
            [
                "8655b245ba8a3487"
            ]
        ]
    },
    {
        "id": "bf3143f377d6e21c",
        "type": "link in",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "",
        "links": [
            "8655b245ba8a3487"
        ],
        "x": 655,
        "y": 540,
        "wires": [
            [
                "cd1c663c4078a5f9"
            ]
        ]
    },
    {
        "id": "c1b019aa68084bf1",
        "type": "link in",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "",
        "links": [
            "ab7fe5abb5d039ec"
        ],
        "x": 1485,
        "y": 620,
        "wires": [
            [
                "362e1f4b5b2e056c"
            ]
        ]
    },
    {
        "id": "ab7fe5abb5d039ec",
        "type": "link out",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "",
        "mode": "link",
        "links": [
            "c1b019aa68084bf1"
        ],
        "x": 805,
        "y": 620,
        "wires": []
    },
    {
        "id": "8655b245ba8a3487",
        "type": "link out",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "",
        "mode": "link",
        "links": [
            "bf3143f377d6e21c"
        ],
        "x": 1625,
        "y": 560,
        "wires": []
    },
    {
        "id": "22877361595bb1ef",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "init",
        "func": "//init=global.condition;size=1\n\nglobal.set(\"condition\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "93b3dac032fcac99"
            ]
        ]
    },
    {
        "id": "bf89bfee10f01ff9",
        "type": "function",
        "z": "b87ec6114f195499",
        "name": "copy",
        "func": "//write=global.condition; read=true;\n\nglobal.set(\"condition\",true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "cd1c663c4078a5f9"
            ]
        ]
    },
    {
        "id": "99cf61064c023a98",
        "type": "comment",
        "z": "b87ec6114f195499",
        "name": "macro, initialization of variables",
        "info": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "9217d9791d85c630",
        "type": "comment",
        "z": "b87ec6114f195499",
        "name": "condition=True",
        "info": "",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "55811a881cb0dd89",
        "type": "comment",
        "z": "b87ec6114f195499",
        "g": "c0396b0b4dd68173",
        "name": "while condition==True",
        "info": "",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "b79da51c55c6df0f",
        "type": "comment",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "if p0>=5",
        "info": "",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "bffdbe551dc26046",
        "type": "comment",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "temp=p0+1; output p1=temp",
        "info": "",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f564a33d50b9ce1",
        "type": "comment",
        "z": "b87ec6114f195499",
        "g": "546438847f4feb4a",
        "name": "temp=p0-1; output p1=temp",
        "info": "",
        "x": 1180,
        "y": 560,
        "wires": []
    },
    {
        "id": "0b7f38214316cc56",
        "type": "inject",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "1fc613c5549f763a"
            ]
        ]
    },
    {
        "id": "77974c78cf59d567",
        "type": "debug",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 120,
        "wires": []
    },
    {
        "id": "1fc613c5549f763a",
        "type": "change",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "sim",
        "rules": [
            {
                "t": "set",
                "p": "I0",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 120,
        "wires": [
            [
                "bea1c3eadfa007e8"
            ]
        ]
    },
    {
        "id": "bafa0eaf5660ed38",
        "type": "change",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "sim",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "O1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 120,
        "wires": [
            [
                "77974c78cf59d567"
            ]
        ]
    },
    {
        "id": "2324e0a911aad3f6",
        "type": "inject",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "1fc613c5549f763a"
            ]
        ]
    },
    {
        "id": "bea1c3eadfa007e8",
        "type": "delay",
        "z": "b87ec6114f195499",
        "g": "8089717f6b42b5be",
        "name": "sim",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "bafa0eaf5660ed38"
            ]
        ]
    }
]